/* CARRITO */

.grid_container-carrito{
    @include containers(center);

    .tit_carrito{
        @extend .h1s;
    }

    .container_carrito{
        display: grid;
        justify-content: center;
        margin-bottom: 3rem;

        .box-carrito{
            background-color: rgb(137, 140, 150);
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            align-items: center;
            justify-content: center;
            height: 27rem;
            width: 40rem;
            box-shadow: 2px 3px 6px black;

            .txt_carrito{
                color: black;
                font-size: 20px;
            }
            
            .btn_carrito{
                @extend .botones;
                border-radius: 0.5rem;
                padding: 5% 12%;
                
                &:hover{
                    color: white;
                    background-color: $btnHover;
                }
            }
        }

    }
}