/* CARRITO */

.grid_container-carrito{
    @include containers(center);

    .tit_carrito{
        @extend .h1s;
    }

    .container_carrito{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: $boxProd;
        margin: 2rem 6rem;
        padding: 2rem;
        .txt_carrito{
            margin: 1rem;
            color: $titColor;
            font-size: 20px;
            // display: none;
        }
        
        .carrito-producto{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0rem 4rem;
            gap: 3rem 5rem;
            border-radius: 1rem;
            background-color: $fondoBeige;
            align-items: center;
            .img-carrito{
                width: 4rem;
                border-radius: 0.5rem;
                padding: 3px;
            }
            .tit-prod-carrito{
                font-size: 18px;
                color: whitesmoke;
            }
            .subt-prod-carrito{
                font-size: 16px;
                color: whitesmoke;
                padding: 5px;
            }
            .carrito-producto-eliminar{
                cursor: pointer;
                // color: whitesmoke;
                border: none;
                font-size: 20px;
                background-color: transparent;
            }
        }

        .carrito-acciones{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            padding: 1rem 5rem;
            .carrito-comprar{
                border: 0;
                background-color: $btnColor;
                padding: 0.2rem;
            }
            
            .box-carrito-vaciar{
                .carrito-vaciar{
                    border: 0;
                    background-color: $btnColor;
                    padding: 0.2rem;
                }
            }
            .box-carrito-total{
                display: flex;
                align-items: center;
                .precio-total{
                    color: whitesmoke;
                    margin: 0rem 1.5rem;
                }
            }
        }
    .disabled{
        display: none;
    }
    .carrito-txt-compra{
        color: $titColor;
        font-size: 20px;
    }
    }

}