/* CONTACTO*/

.grid_container-contacto{
    @include containers(center);

    .txt_contacto{
        @extend .h1s;
    }
    .section_contacto{
        display: grid;
        margin: 2rem;
        justify-content: center;

        .formulario_contacto{
            background-color: rgb(137, 140, 150);
            width: 26rem;
            height: 28rem;
            padding: 1rem 1rem;
            border-radius: 1.5rem;
            margin-bottom: 5rem; 
            box-shadow: 2px 3px 6px black;

            .box_form{
                display: flex;
                flex-direction: column;
                padding: 0rem 2rem;

                .form_cont{
                    display: flex;
                    justify-content: center;
                    color: black;
                    margin: 1rem;

                    .form_input{
                        width: 75%;
                        background: none;
                        color: black;
                        font-size: 15px;
                        outline-style: none;
                        margin: 10%;
                        padding: 0% 4%;
                        border: none;
                        border-bottom: 1px solid rgb(0, 0, 0);
                        text-align: center;
                    }
                    .form_label{
                        cursor: pointer;
                        position: absolute;
                        margin-bottom: 20px;
                    }
                }
            
                .btn_contacto{
                    @extend .botones;
                    margin: 1% 35%;
                    padding: 1% 8%;
                    border-radius: 0.5rem;
                    &:hover{
                        background-color: $btnHover;
                    }
                }
            }
        }
    }
}