/* GRID AREAS*/

.grid_container-index{ 
    @include display;
}
.grid_container-productos{
    @include display;
}

.grid_container-contacto{
    @include display;
}

.grid_container-carrito{
    @include display;
}

.grid_container-accesorios{
    @include display;
}

/* GRID AREA INDEX */

.navbar{
    grid-area: nav;
}
.container_prod_destacados{
    grid-area: prod_destacados;
}
main{
    grid-area: main;
}
.container_novedades{
    grid-area: novedades;
}
footer{
    grid-area: footer;
}

/* MEDIA QUERYS*/ 

/* GRID AREAS PRODUCTOS */

.container_productos{
    grid-area: productos;
}

/* GRID AREA CONTACTO */

.section_contacto{
    grid-area: contacto;
}

/*GRID AREA CARRITO*/

.container_carrito{
    grid-area: carrito;
}

/* GRID AREA ACCESORIOS */

.section-accs{
    grid-area: accesorios;
}

/* MEDIA QUERY MOBILE */

@media screen and (max-width:767px) {
    
 /* MEDIA QUERY - INDEX  */
    .grid_container-index{
        min-height: 100vh;
        grid-template-areas: 
        "nav"
        "main"
        "prod_destacados"
        "novedades"
        "footer";

        .banner{
            .img-banner{
                height: 50vh;
                width: 100%;
            }
            .tit_bienvenida{
                font-size: 6vh;
                left: 28%;
            }
        }

        .container_prod_destacados{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
                
            .box_prenda-dest{
                padding: 2% 3%;
                margin: 3%;
                width: 62%;
                height: 87%;

                .prenda_destacada1{
                    width: 98%;
                    height: 75%;
                    padding: 10% 12%;
                    
                }
                
                .prenda_destacada2{
                    width: 100%;
                    height: 77%;
                    padding: 10% 12%
                }

                .prenda_destacada3{
                    width: 100%;
                    height: 75%;
                    padding: 10% 12%
                }
                
            }
        }

        .container_novedades{
            .p_novedades{
                font-size: 15px;
                color: black;
            }

            .bot_nov{
                width: 55%;
                margin: 1vh;
            }
        }
    }



 /* MEDIA QUERY - PRODUCTOS */

    .grid_container-productos{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "productos"
        "novedades"
        "footer";
        
        .container_productos{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;

            .box_productos{
                margin: 2% 25%;
                padding: 8% 1%; 

                .img_prenda{
                    height: 70%;
                    width: 90%;
                    padding: 1% 3%;
                }
            }
        }
    }
    
    /* MEDIA QUERY CONTACTO */

    .grid_container-contacto{
        min-height: 100vh;
        grid-template-areas: 
        "nav"
        "main"
        "contacto"
        "footer"; 

        .section_contacto{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin: 5%;

            .formulario_contacto{
                width: 86%;
                height: 90%;
                margin: 6% 6%;
                padding: 7% 3%;

                .box_form{
                    padding: 0vh;
                    
                    .form_cont{
                        margin: 1vh;
                        .form_input{
                            margin: 6vh 0vh;
                        }
                        .form_label{
                            margin-bottom: 1vh;
                        }
                    }

                    .btn_contacto{
                        font-size: 1rem;
                        border-radius: 2vh;
                        margin: 0vh 8vh;
                        &:hover{
                            background-color: $fondoBeige;
                        }
                    }
                }    
            }
        }      
    }
    /* MEDIA QUERY CARRITO */

    .grid_container-carrito{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "carrito"
        "footer";
        
        .container_carrito{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            justify-items: center;
            margin: 5% 5% 25% 5%;

            .box-carrito{
                height: 100%;
                width: 85%;
                padding: 30% 10%;
                margin: 6% 8%;

                .txt_carrito{
                    font-size: 15px;
                }
            
                .btn_carrito{
                    padding: 0.4rem 1rem;
                    font-size: 15px;
                    margin: auto;
                }
            }
        }    
    }

    .grid_container-accesorios{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "accesorios"
        "novedades"
        "footer";

        .section-accs{
            grid-template-columns: repeat(2, 1fr);
            margin: 2% 0%;
        
            .box-acc{
                margin: 2% 5%;
                padding: 4% 2%;
            
                .prenda-acc{
                    width: 95%;
                    height: 70%;
                }

                p{
                    margin: 4%;
                    font-size: 14px;
                }

                .tit_img-acc{
                    margin: 4%;
                    font-size: 14px;
                }

                .btn_acc{
                    padding: 5%;
                    font-size: 12px;
                    &:hover{
                        background-color: $fondoBeige;
                    }
                }
            }
        }
    }
}    

@media screen and (min-width: 768px) and (max-width:1024px){
    /*TABLET - INDEX */
    .grid_container-index{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "prod_destacados"
        "novedades"
        "footer"; 
    
        .container_prod_destacados{
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            justify-items: center;
        
            .box_prenda-dest{
                height: 90%;
                width: 80%;
                padding: 4% 1%;

                .prenda_destacada1{
                    width: 100%;
                    height: 75%;
                    padding: 8% 6%;
                }

                .prenda_destacada2{
                    width: 100%;
                    height: 82%;
                    padding: 8% 5%;
                }

                .prenda_destacada3{
                    width: 100%;
                    height: 75%;
                    padding: 8% 6%;
                }
            }
        }    
    } 

    

    /*TABLET - PRODUCTOS*/
    .grid_container-productos{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "productos"
        "novedades"
        "footer";
        
        .container_productos{
            grid-template-columns: repeat(2, 1fr);
    
            .box_productos{
                margin: 5vh 8vh;
                padding: 5% 2%;
                .img_prenda{
                    height: 46vh;
                    width: 35vh;
                    padding: 1% 1%;
                }
            }
        }
    }

    /*TABLET - CONTACTO*/
    
    .grid_container-contacto{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "contacto"
        "footer";

        .section_contacto{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin: 5%;

            .formulario_contacto{
                width: 66%;
                height: 90%;
                margin: 4% 18%;
                padding: 2%;

                .box_form{
                    padding: 1%;

                    .form_cont{
                        margin: 4% 10%;

                        .form_input{
                            margin: 10% 0%;
                        }
                        .form_label{
                            margin-bottom: 1vh;
                        }
                    }

                    .btn_contacto{
                        font-size: 1rem;
                        border-radius: 2vh;
                        margin: 0% 35%;
                        &:hover{
                            background-color: $fondoBeige;
                        }
                    }
                }
            }
        }
    }
    /*TABLET - CARRITO*/
    .grid_container-carrito{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "nav"
        "main"
        "carrito"
        "footer";
        .container_carrito{
            grid-template-columns: repeat(1, 1fr);
            justify-items: center;
            margin: 6% 10%;

            .box-carrito{
                height: 85%;
                width: 60%;
                padding: 30% 10%;

                .txt_carrito{
                    font-size: 16px;
                }

                .btn_carrito{
                    padding: 0.4rem 1rem;
                    font-size: 15px;
                    margin: auto;
                }
            }
        }
    }

    /* TABLET - ACCESORIOS */

    .grid_container-accesorios{
        min-height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-rows: 
        "nav"
        "main"
        "accesorios"
        "novedades"
        "footer";
        
        .section-accs{
            grid-template-columns: repeat(4, 1fr);
            margin: 1%;
            
            .box-acc{
                margin: 10%;
                padding: 10% 1%;
            
                .prenda-acc{
                    width: 95%;
                    height: 74%;
                    padding: 1% 1%;
                }

                p{
                    margin: 4%;
                    font-size: 14px;
                }

                .tit_img-acc{
                    margin: 4%;
                    font-size: 14px;
                }

                .btn_acc{
                    padding: 3%;
                    font-size: 12px;
                    &:hover{
                        background-color: $fondoBeige;
                    }
                }
            }
        }
    }
}