/* CONTAINER RESEÑA CSS */

.container-reseñas{
    display: flex;
    text-align: center;
    font-size: 18px;
    flex-direction: column;

    .tit-reseña{
        @extend .h1s;
    }
    
    .box-reseña{ 
        margin: 2rem 6rem;
        background-color: $boxProd;
    
        .comentario-box{
            background-color: $boxProd;
            border: solid 1px grey;
            color: grey;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;   
            margin: 2rem 5rem;
        }
        .correo-usuario{
            color: white;
        }
        
    }
}