/* PRODUCTOS */

.grid_container-productos{
    @include containers(center);

    .tit_prod{
        @extend .h1s;
    } 

    .container_productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        border-radius: 10px;
        row-gap: 3rem;  

        .box_productos{
            background-color: $boxProd;
            border-radius: 10px;
            margin: 1rem 2rem;
            padding: 2% 1%;
            font-size: 13px;
            &:hover{
                transform:scale(1.1);
                transition-duration: 2s;
            }

            .img_prenda{
                height: 68%;
                width: 73%;
                padding: 5% 1%;
            }

            .tit_img{
                color: white;
                font-family: 'Oswald', sans-serif;
                font-size: 1.1rem;
                text-decoration: none;
                margin: 3%;
                text-shadow: 2px 3px 3px black;
            }

            p{
                color: white;
                font-family: 'Oswald', sans-serif;
                font-size: 1rem;
                text-shadow: 2px 2px 3px black;
            }
            
            .btn_comprar{
                @extend .botones;
            }
        }    
    }
}